@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4 outBlock">

        <div class="inBlock">
        <h2>Latest Requests</h2>
        </div>
      
    </div>
    <div class="col-md-4 outBlock">

        <div class="inBlock">
            <h2>Latest Offers</h2>           
        </div>

        </div>
    <div class="col-md-4 outBlock">

        <div class="inBlock">
            <h2>Latest news</h2>
        </div>
        </div>
</div>